html(lang="fa-IR" dir="rtl")
  head
    meta(charset="UTF-8")
    title
    meta(name="publisher" content= "webapp.Com")
    meta(name="keywords" content="")
    meta(name='description' content="")

    meta(name="viewport" content="initial-scale=1.0 user-scalable=no width=device-width")

    link(rel="stylesheet" href="app.css")
  body
    section#app
    script(src="app.js")
