
.box {
  .icon-visible {
    &:before {
      vertical-align: middle;
      font-size: 20px;
      margin-left: 10px;
    }
  }
}
.member{
  position: relative;
  top: 7px;
  color: #424242;
}
.register-page{
  .title{
    font-size: 14px;
    color: #424242;
    margin-top: -8px;
  }
}
.register-page{
 .err{
   color: red;
   position: relative;
   top: -18px !important;
   font-size: 12px;
   right: 4px;
 }
  #mdc-floating-label{
    color: #80868A !important;
  }
  .resister-new-user{
    position: relative;
    top: -6px;
    right: 4px;
    margin-bottom: 1px;
  }
  .title{
    position: relative;
    right: 4px;
  }
  .progress-button button {
    font-family: IRANSansMedium !important;
    border-radius: 100px;
    color: #555555 !important;
    width: max-content;
    padding-right: 17px;
    padding-left: 17px;
    margin-left: 20px;
    background: #FFE53B !important;
    box-shadow: 0 6px 20px 0 rgba(255, 237, 0, 0.39) !important;
    position: relative;
    left:-15px;
    top: -3px;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    svg{
      left: 4em !important;
      stroke: #FFE53B !important;
      stroke-width: 10;
      .checkmark {
        path {
          stroke: #555555 !important;;
          stroke-linecap: round;
          stroke-width: 4;
          -webkit-transition: opacity 0.1s;
          transition: opacity 0.1s;
        }
      }
      .cross {
        path {
          stroke: #555555 !important;;
          stroke-linecap: round;
          stroke-width: 4;
          -webkit-transition: opacity 0.1s;
          transition: opacity 0.1s;}
      }
    }
    .progress-circle{
      path {
        stroke: #FFE53B !important;;
        stroke-width: 10;
      }
    }
  }
  .loading.progress-button button{
    -webkit-box-shadow: unset !important;
    box-shadow: unset !important;
    background-color: #fff !important;
  }
}
@media (min-width: 9992px) and (max-width:1200px) {
  .register-page {
    .title {
      position: relative;
      right: 6px;
    }
    .resister-new-user {
      position: relative;
      top: -6px;
      right: 6px;
      margin-bottom: 1px;
    }
  }
}
@media (min-width: 767px) and (max-width:992px) {
  .register-page {
    .title {
      position: relative;
      right: 13px;
    }
    .resister-new-user {
      position: relative;
      top: -6px;
      right: 13px;
      margin-bottom: 1px;
    }
  }
}

@media (max-width:575px) {
  .register-page{
    .register-btn{
      margin-bottom: 50px;
    }
    .btn-gold {
      float: right !important;
      margin-top: 20px;
      margin-right: -6px;
    }
  }
}

@media (max-width:767px) {
  .member {
    color: #424242;
    right: 9px;
    position: relative;
  }
  .register-page{

    .title {
      position: relative;
      right: 13px;
    }
    .resister-new-user {
      position: relative;
      top: -6px;
      right: 13px;
      margin-bottom: 1px;
    }

    .progress-button{
      button {
        font-family: IRANSansMedium !important;
        border-radius: 100px;
        color: #555555 !important;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        padding-right: 17px;
        padding-left: 17px;
        margin-left: 20px;
        background: #FFE53B !important;
        -webkit-box-shadow: 0 6px 20px 0 rgba(255, 237, 0, 0.39) !important;
        box-shadow: 0 6px 20px 0 rgba(255, 237, 0, 0.39) !important;
        position: relative;
        right: 6px !important;
        top: -4px !important;
        padding-top: 8px !important;
        padding-bottom: 8px !important;
      }
    }
  }

}